html
    head
        title Music Machine

        link(rel="stylesheet", type="text/css", href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css")
        script(src="https://cdn.tailwindcss.com")
        script(src="http://unpkg.com/alpinejs")

    body
        div(class="navbar bg-base-100")
            a(class="btn btn-ghost normal-case text-xl") Music Machine

        block content